.jumbotron {
    text-align: center;
    background: none;
}
.sectionLight {
    background-color: #eceeef;
    padding: 2rem;
}
.sectionDark {
    background-color: #cccccc;
    padding: 2rem;
}
.wrapper {
    margin-top: 20px;
    
}
button.coolbtn {
    background-color: red;
    color: white;
    display: block;
    margin: auto;
}
h5.modal-title {
    margin: auto;
}
.modalFormWrapper {
    padding: 2 rem;
}
.imgCenter {
    display: block;
    margin: auto;
}
.btnCenter {
    display: block;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 20px;
    width: 80%;
}
.footerImage {
    padding: 10px;
}
.fa {
    margin: 10px;
} 
.socialWrapper {
    margin: auto;
}

.fa-facebook-square {
    color: #3b5998;
}

.fa-google-plus-square {
    color: #c32f10;
}
.fa-instagram {
    color: #ffffff;
}



